.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.top-bar {
  font-family: 'Ubuntu Mono', monospace;
  @apply w-screen border-b-2 border-[#c7bcbc] px-3 text-[#c7bcbc];
  @apply py-2 mb-2;
}

.log-level {
  @apply inline-block w-[60px] text-center;
  @apply cursor-pointer rounded-md no-select
}

.log-content {
  @apply inline-block cursor-pointer rounded-md px-1 ml-[-5px];
  @apply no-select
}

.log-time {
  @apply inline-block w-[152px] text-center;
  @apply cursor-pointer rounded-md no-select
}

.log-level:hover,
.log-content:hover,
.log-time:hover {
  background : #c7bcbc;
  color : #2f3136;
}
